body{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.title{
    text-align: center;
    margin-top: 30px;
}

h2{
    font-size: 1.5rem;
    margin-top: 1rem;
}

ul{
    margin-top: 50px;
}

.emoji{
    width: 1.5rem;
    height: 1.5rem;
}

a{
    text-decoration: none;
    color: rgb(25, 79, 255);
}

footer{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.footer{
    color:rgb(44, 44, 44);
    text-align: center;
}